<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Summarizer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Video Summarizer</h1>
    <form id="summarizeForm">
        <label for="videoUrl">YouTube Video URL:</label>
        <input type="text" id="videoUrl" name="videoUrl" required>
        <button type="button" onclick="summarizeVideo()">Summarize</button>
    </form>
    <h2 id="videoTitle"></h2>
    <div id="summaryResult"></div>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>

    
</body>
</html>
